
@-webkit-keyframes beat {
  0% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  100% {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
  }
}

@keyframes beat {
  0% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  100% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
  }
}


.fadeUp {
  animation: beat linear .3s alternate  infinite;
  -webkit-animation: beat linear .3s alternate infinite;
}



@-webkit-keyframes tilte {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(20deg);
      transform: rotate(20deg);
  }
}

@keyframes tilte {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(20deg);
      transform: rotate(20deg);
  }
}



.animate-it{

  animation: tilte ease .3s alternate .5s 2;
  -webkit-animation: tilte ease .3s alternate .5s 2;

}



@-webkit-keyframes tilte-up {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(-20deg);
      transform: rotate(-20deg);
  }
}

@keyframes tilte-up {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(-20deg);
      transform: rotate(-20deg);
  }
}



.tilte-up{

  animation: tilte-up ease .3s alternate .5s 2;
  -webkit-animation: tilte-up ease .3s alternate .5s 2;

}



@-webkit-keyframes Radar {
  0% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  100% {
      -webkit-transform:scale(5);
      transform: scale(5);
  }
}

@keyframes  Radar {
  0% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  100% {
      -webkit-transform:scale(15);
      transform: scale(15);
      opacity: 0;
  }
}



.Radar{

  animation: Radar  linear 3s running  infinite;
  -webkit-animation: Radar linear 3s running infinite;

}
