@font-face {
  font-family: "Gotham";
  src: local("GothamRounded"),
    url("./assets/fonts/GothamRounded-Medium.otf") format("opentype");
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  position: relative;
}

::-webkit-scrollbar {
  width: 5px;
  /* display: none; */
}
::-webkit-scrollbar-track {
  margin: 5px 0;
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background: #afafafd7;
  border-radius: 12em;
}

body::-webkit-scrollbar {
  width: 8px !important;
  display: block;
}
body::-webkit-scrollbar-track {
  background: #000000 !important;
  width: 0px !important;
  margin: 0;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(225deg, #ff6036, #fd267a) !important;
  border-radius: 12em !important;
}

@keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadein {
  animation: linear 0.5s normal fadeInFromNone;
}
