@font-face {
  font-family: "Gotham";
  src: local("GothamRounded"),
    url("./assets/fonts/GothamRounded-Medium.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Nova";
  src: local("FontsFree-Net-Proxima-Nova-Sbold"),
    url("./assets/fonts/FontsFree-Net-Proxima-Nova-Sbold.otf") format("opentype");
  font-display: swap;
}


body {
  margin: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  position: relative;
}

::-webkit-scrollbar {
  width: 5px;
  display: none;
}
::-webkit-scrollbar-track {
  margin: 5px 0;
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background: #afafafd7;
  border-radius: 12em;
}

body::-webkit-scrollbar {
  width: 8px !important;
  display: block;
}
body::-webkit-scrollbar-track {
  background: #000000 !important;
  width: 0px !important;
  margin: 0;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(225deg, #ff6036, #fd267a) !important;
  border-radius: 12em !important;
}





@keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadein {
  animation: linear 0.5s normal fadeInFromNone;
}

.VisibleChebox {
  border: 2px solid #505965;
  font-size: 1rem;
  font-family: "Roboto";
  border-radius: 10px;
  min-width: 8rem;
  min-height: 45px;
  color: #505965;
  display: grid;
  place-items: center;
  cursor: pointer;
 
}
.VisibleChebox > label {
  cursor: pointer;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}
.hiddenChebox {
  display: none;
}

.hiddenChebox:checked ~ .VisibleChebox {
  border: 2px solid #fe3f61;
  color: #fe3f61;
}


.ChooseBox{
  opacity: 0;
  transition: opacity .2s ease;
}

.ImgBox:hover > .ChooseBox{
  opacity: 1;
  cursor: pointer;
}



.safariBg{
  background-image: url(./assets/imgs/homebg.jpg) !important;
}

